*{
     margin: 0;
     padding: 0;
}
body{
    margin: 0%;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font: size 17px;
    color: orangered;
    line-height: 1.6;
}
#thisisme{
    background-image: url('../images/park.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
#thisisme h1{
    font-size: 80px;
}
#thisisme p{
    font-size:28px;
}
#thisisme .button{
    text-decoration: none;
    border:red 1px solid;
    border-radius: 10px;
    color:red;
    font-size:18px;
    padding: 10px 20px;
    margin-top: 20px;
}
#thisisme .button:hover{
    background-color:red;
    color:whitesmoke;
}
#section-9{
    background-color:blue;
    padding: 20px;
    text-align:center;
}
#section-0{
    background-color:blue;
    padding: 20px;
    text-align:center;
}